<footer id="footer" class="clearfix">

  <div id="site-info">
    <ul class="credit">
      <li><img src="/assets/img/zofe.png" alt=""  title="" width="107" height="100" class="meola-featured-image"></li>
      <li>&copy; 2012 Zone Of Front-Enders</li>
    </ul><!-- end .credit -->
  </div><!-- end #site-info -->

</footer><!-- end #footer -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-66092-27']);
  _gaq.push(['_setDomainName', 'zofe.com.br']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
