<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Zone Of Front-Enders | Podcast sobre desenvolvimento web, front-end e afins</title>

<link href="/feed/posts.xml" rel="alternate" title="Zone Of Front-Enders" type="application/atom+xml">
<link href="/feed/podcast.xml" rel="alternate" title="ZOFE Podcast - AAC" type="application/atom+xml">

<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
<link rel='stylesheet' id='googleFonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C400%2C300%2C700%2C800&#038;ver=3.4.2' type='text/css' media='all' />
