<div id="site-nav-wrap" class="clearfix">
  <div id="site-nav-container">
    <a href="#nav-mobile" id="mobile-menu-btn">Menu</a>
    <nav id="site-nav">
      <div class="menu">
        <ul>
          <li class="current_page_item"><a href="/index.html" title="Home">Home</a></li>
          <li class="page_item page-item-15"><a href="/contato.html">Contato</a></li>
          <li class="page_item page-item-5"><a href="/sobre.html">Sobre</a></li>
        </ul>
      </div>
    </nav><!-- end #site-nav -->
  </div><!-- end #site-nav-container -->
</div><!-- end #site-nav-wrap -->