<div id="site-nav-wrap" class="clearfix">
  <div id="site-nav-container">
    <a href="#nav-mobile" id="mobile-menu-btn">Menu</a>
    <nav id="site-nav">
      <div class="menu">

        <ul>
          <li class="page_item"><a href="/" title="Home">Home</a></li>
          <li class="page_item"><a href="/contato" title="Contato">Contato</a></li>
          <li class="page_item"><a href="/sobre" title="Sobre">Sobre</a></li>
          <li class="page_item buscaBtn">
            <a href="#busca" title="Busca">Busca</a>
            <div class="buscaWrapper widget_search">
              <form method="get" id="searchform" action="http://www.google.com/search">
                <input type="hidden" name="sitesearch" value="http://zofe.com.br/">
                <input type="text" class="field" name="q" id="s" placeholder="Busque no site">
                <input type="submit" class="searchSubmit" name="submit" value="Buscar" />
              </form>
            </div>
          </li>
        </ul>

      </div><!-- end .menu -->
    </nav><!-- end #site-nav -->
  </div><!-- end #site-nav-container -->
</div><!-- end #site-nav-wrap -->

<div id="mobile-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/sobre">Sobre</a></li>
  </ul>
</div>
