<div id="sidebar-bottom" class="widget-area">

  <aside class="widget podcastfeed">
    <div class="widget-wrap">
      <h3 class="widget-title">Feeds</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://zofe.com.br/feed/podcast.xml" title="Podcast (AAC/M4A)">Podcast (AAC/M4A)</a></li>
        <li><a href="itpc://zofe.com.br/feed/podcast.xml" title="Podcast (iTunes)">Podcast (iTunes)</a></li>
        <li><a href="http://zofe.com.br/feed/posts.xml" title="Posts">Posts</a></li>
      </ul>
    </div>
  </aside>

  <aside class="widget widget_links">
    <div class="widget-wrap">
      <h3 class="widget-title">Apoio</h3>
      <ul class='xoxo blogroll'>
        <li><a href="http://braziljs.org/" title="Fundação BrazilJS" target="_blank"><img src="/assets/img/braziljs.png"  alt="BrazilJS Foundation"  title="Fundação BrazilJS" /></a></li>
      </ul>
    </div>
  </aside>

  <aside class="widget widget_meola_about">
    <div class="widget-wrap">
      <h3 class="widget-title">Sobre</h3>
      <div class="about-image-wrap">
        <img src="/assets/img/danielfilho-zeno.png" width="450" height="200" class="about-image">
        <p class="about-image-caption">Daniel Filho e Zeno Rocha</p>
      </div><!-- end .about-image-wrap -->
      <div class="about-text-wrap">
        <p class="about-text">Podcast com enfoque no desenvolvimento front-end da web. Sempre trazendo novidades, entrevistas, eventos e multiplicando conhecimento. Este podcast é apresentado por Daniel Filho e Zeno Rocha.</p>
      </div><!-- end .about-text-wrap -->
    </div>
  </aside>

  <aside class="widget widget_meola_sociallinks">
    <div class="widget-wrap">
      <h3 class="widget-title">Siga ZOFE</h3>
      <ul class="sociallinks">
        <li><a href="itpc://zofe.com.br/feed/podcast.xml" class="itunes" title="iTunes" target="_blank">iTunes</a></li>
        <li><a href="http://twitter.com/zofepod" class="twitter" title="Twitter" target="_blank">Twitter</a></li>
        <li><a href="http://facebook.com/zofepod" class="facebook" title="Facebook" target="_blank">Facebook</a></li>
        <li><a href="https://plus.google.com/b/115076765574849677369/115076765574849677369" class="googleplus" title="Google+" target="_blank">Google+</a></li>
      </ul><!-- end .sociallinks -->
    </div>
  </aside>

</div><!-- #sidebar-bottom .widget-area -->
